.post-tail-wrapper .share-wrapper .share-icons .fab.fa-reddit {
    color: var(--btn-share-color, #ff4500); /* Reddit orange */
}

.post-tail-wrapper .share-wrapper .share-icons .fab.fa-whatsapp {
    color: var(--btn-share-color, #25d366); /* WhatsApp green */
}

.post-tail-wrapper .share-wrapper .share-icons .fab.fa-twitter {
    color: var(--btn-share-color, #000000); /* Twitter black */
}
